*{
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;    
}

@font-face {
    font-family: "Neue Machina";
    src: url('/assets/fonts/neue-machina-regular.otf');
}

body{    
    color: white;
    background: linear-gradient(-45deg, #FF6C26, #2ECBFF);
    background-size: 400% 400%; 
    animation: gradient 5s ease infinite alternate;    
}

main{
    margin: .5rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: .5rem;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{    
    text-decoration: underline;  
}

@media only screen and (min-width: 768px){
    main{
        max-width: 1024px;
        margin: 1rem auto;
    }
}


@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
